.hr{
  border: 0;
  border-top: 1px solid #eee;
  margin: 0px 0;
      width: 235px;
}
.cus_list_content{
  padding-top: 40px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 25px;
}

.form_search{
  width: 257px;
  height: 60px;
}

.icon_imgSearch{
  height: 30px;
  width: 30px;
}
.button_search{
  padding-top: 15px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.content_right{
  margin: 50px 0px 0px 0px;
  padding-left: 40px;
}

.div_timdexuat{
  float: left;
  width: 200px;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .content_right{
        float:none;
    }
}

@media screen and (max-width: 500px) {

  .content_left{
    padding: 0px !important;
    width: 200px;
  }

  .content_right{
      padding: 0px 10px !important;
  }

  .listRight{
    width: 200px;
  }

  .form_search{
    width: 260px;
  }
}
