.header_custom{
  margin-top: 33px;
  width: 220px;
}
.header_navigation{
  padding-top: 24px;
  padding-bottom: 23px;
  width: 340px;
}
.div_nav{
  width: 100px;
}
.city{

  display: none;
}
.span_cacdexuat{
  font-size: 40px;
}
.under_line{
  width: 80px;
  color: black;
  float: left;
}

.span_1{
  border-bottom: 4px solid #03a9f5;
  color: #03a9f5;
}
.span_2{
    float: right;
}

.content_left{
  float: left;
  padding: 33px 0px 0px 105px;
}

@media screen and (max-width: 500px) {

  .content_left{
    padding: 0px !important;
    width: 200px;
  }

  .listRight{
    width: 200px;
  }

  .span_cacdexuat{
    padding-top: 50px;
  }

}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .content_left{
      float: left;
      width: 100%;
    }
    
}
